
.paper-tool-container {
    margin-left: 20%; /* 控制与侧边栏的距离 */
    margin-bottom: 5%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.upload-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}


/* 两个按钮的样式 */
.generate-button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.generate-button:hover {
    background-color: #0056b3;
}

.send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.send-button:hover {
    background-color: #0056b3;
}


.ai-conversation,
.ppt-download {
    width: 500px;
    margin-bottom: 20px;
}

.conversation-textarea,
.download-textarea {
    width: 500px;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#conversation-box {
    display: none; /* 初始隐藏 */
}


.upload-box {
    border: 2px dashed #ccc;
    padding: 50px;
    margin-top: 30px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.upload-box.drag-over {
    border-color: #4caf50;
}

#progressBar {
    margin-top: 10px;
    background-color: #ccc;
    transition: width 0.3s;
}


/* 支持Markdown
这个宽度自动变得太长了
问题的提交可以先执行 不是等到回答完成 */

.chat-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 100px;

    max-height: 300px;
    max-width: 700px;
    overflow-y: auto;
    width: 700px;
}

.ai-message p {
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    float: left;
    max-width: 70%; /* 控制气泡最大宽度为对话框的70% */
    clear: both; /* 保证每个消息在新的一行开始 */
}

.user-message p {
    background-color: #fff59d;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    float: right;
    max-width: 70%; /* 控制气泡最大宽度为对话框的70% */
    clear: both;
}


.user-input {
    margin-top: 16px;
    display: flex;
    width: 700px;
}

.user-input textarea {
    width: 700px;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

